.settings
*.DS_Store

# LOCAL DOCUMENTS
TASKLIST.md
CONTRIBUTING.md

# DEVELOPMENT FILES
node_modules/
bower_components/

# PRODUCTION FILES
dist/
src/app/themes/default/css
src/app/themes/default/js
