.settings
*.DS_Store

# DEVELOPMENT FILES
node_modules/
bower_components/
npm-debug.log
TASKLIST.md

# PRODUCTION FILES
app/lib/themes/default/css/
app/lib/themes/default/js/

app/lib/themes/default/css/styles.css
